body{
    background: #3e5777;
    font-family: sans-serif;
}
#login{
    position: absolute;
    top: 23%;
    left: 40%;
    padding: 3%;
    background: gray;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px;
}
.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 40%;
    left: 50%;
    background: #191919;
    text-align: center;
    transform: translate(-50%, -50%);
    box-shadow: 4px 5px 7px #46494d;
}
.box input[type='email'],.box input[type='password']{
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    padding: 14px;
    border: 2px solid #165cb6;
    border-radius: 24px;
    outline: none;
    color: white;
    width: 200px;
    transition: width 0.5s;
}
.box h1{
    color: white;
}
button{
    background: none;
    border: 2px solid #4ab62f;
    border-radius: 24px;
    padding: 14px;
    outline: none;
    cursor: pointer;
    width: 100px;
    color: white;
}
button:hover{
    background: #4ab62f;
    border: 2px solid white;
    
}
.box input[type="email"]:focus, .box input[type="password"]:focus{
    width: 234px;
    border-color: #418ae7;
}